@{
    ViewBag.Title = "About CareConnection";
}
    <container class="">
        <div class="container aboutApp">
            <h1>About the Project</h1>
            <p>
                The impetus behind building CareConnection stemmed from the need to help caretakers keep notes, prescriptions, medical appointments,
                contact information, and schedules in one central place. When multiple people need to organize around a person
                who also requires medical attention, prescriptions, and doctors visits, it is difficult to make sure all people involved in care
                have the necessary information.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <h2>All in one place</h2>
                    <p>
                        Keep information for your loved one all in one place, linking their medical appointments, prescription refills, and events
                        to your Google calendar, keeping the contact information for their doctors and other caretakers in one convenient place.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Easy to use</h2>
                    <p>
                        The flow of the web app is intuitive and accessible from both your computer and your cell phone with a completely responsive
                        design, large-type font, and a colored background for ease on the eyes.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Fully Supported</h2>
                    <p>
                        Ease of use is our goal - your life is complicated enough. We have provided small, thorough, step-by-step tutorials to help
                        you through the process of your initial set up, with links to the "help" page throughout, and our contact info if you need
                        extra help for any reason.
                    </p>
                </div>
            </div>
            <h3>Created using Scrum/Agile methodologies, CareConnection is a true collaboration of minds.</h3>
        </div>    
    </container>

    <container>
        <div class="container aboutApp">
            <h1>About the Creators</h1>
            <h2>Junior Full Stack Developers</h2>

            <div class="row aboutApp">
                <div class="col-md-3">
                    <p>PICTURE</p>
                </div>
                <div class="col-md-9">
                    Lakshami Mahajan is a Junior Full Stack Software Developer with a special place in her heart for database builds and front-end details.
                    with life long lover of all things technology, from diesel trucks to the newest smartphone. She has a Bachelor's degree in Medieval Literature
                    and is a trained Technical Communicator, with a background in teaching at Arizona State University and training horses. Her
                    journey into the tech world began with a Tandy computer, evolved into a ZooTycoon and codecademy obsession, and eventually
                    enrolled in We Can Code IT. Lakshami loves Harry Potter, board games, animals, laughing, and people with passion.
                </div>
            </div>
            <div class="row aboutApp">
                <div class="col-md-9">
                    Joe Homrocky is a Junior Full Stack Software Developer with a knack for research and implementation of coding logic. He is also a
                    Military Veteran from Ohio whose pervasive passion for technology spanned his time in the
                    Armed Forces and culminated in his decision to come to We Can Code IT. He loves his dogs, memes, snark,
                    sarcasm, and had working people with focus.
                </div>
                <div class="col-md-3">
                    <p>PICTURE</p>
                </div>
            </div>
            <div class="row aboutApp">
                <div class="col-md-3">
                    <p>PICTURE</p>
                </div>
                <div class="col-md-9">
                    Kathleen Repko is a Junior Full Stack Software Developer with a love for methodology, process, and logical thought. She is also
                    a trained culinary artist and chef, with a background in management and a passion for food and technology. She hails from Ohio,
                    and was attracted to software development for it's logical nature and her incredible problem solving abilities.
                </div>
            </div>
            <div class="row aboutApp">
                <div class="col-md-9">
                    Nathan Pawloski is a Junior Full Stack Developer with a mind for problem solving through any logical task, from databases to controllers.
                    He has a background in Computer Science, and is an avid gamer from North Olmsted. Nathan has always had a passion for technology,
                    and enjoys building his own and helping his friends build computers.
                </div>
                <div class="col-md-3">
                    <p>PICTURE</p>
                </div>
            </div>
            <div class="row aboutApp">
                <div class="col-md-3">
                    <p>PICTURE</p>
                </div>
                <div class="col-md-9">
                    Razvan Crisan is a Junior Full Stack Software Developer with an eye for design and flow and a tenacious mind. He has a Bachelor's degree
                    in Human resources, and a background in customer service. Raz was drawn to the technology world through his love of gaming,
                    and enjoys the Cavs and ping pong.
                </div>
            </div>

        </div>
    </container>


